html {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.semi-bold {
  font-weight: 600;
}

.App {
  position: relative;
  width: 1920px;
  height: 4791px;
  /* Neutrals/300 */
  border: 2px solid #DAE4F2;
}

.btn {
  border: 2px solid #DAE4F2;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
}

.landing-section {
  width: 1920px;
  position: absolute;
  height: 920px;
  z-index: 1;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 128px;
  left: 228px;
  right: 228px;
  top: 0px;
  z-index: 2;
}

.nav-bar .aerolab-logo {
  /* Inside auto layout */
  cursor: pointer;
}

.nav-bar .btn-aero-coins{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;

  background: #FFFFFF;

  border: 1px solid #DAE4F2;
  box-sizing: border-box;

  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
}

.frame168 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.aeropay-logo {
  margin-bottom: 8px;
  margin-top: 8px;
  width: 32px;
  height: 32px;
}

.icons {
  width: 24px;
  height: 24px;
  order: 1;
}

.coin-amount {
  height: 27px;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px 0px 8px;
  font-weight: 800;
}

.balance-card {
  width: 312px;
  height: 404px;
  background: #FFFFFF;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
  border-radius: 16px;
  z-index: 1;
}

.balance-card .header {
  position: absolute;
  height: 59px;
  width: 312px;
  padding: 16px 24px 16px 24px;
  border: 1px solid #DAE4F2;
  box-sizing: border-box;
  border-radius: 16px 16px 0px 0px;
  font-weight: 700;
}

.balance-card .body {
  width: 312px;
  height: 346px;
  margin-top: 59px;
  padding: 24px 24px 24px 24px;
  border: 1px solid #DAE4F2;
  border-top: 0px;
  box-sizing: border-box;
  border-radius: 0px 0px 16px 16px;
  flex-direction: column;
}

.secondary-color {
  color: #F5F9FF;
}

.aerocard {
  position: absolute;
  height: 146px;
  width: 262px;
  padding: 16px 16px 16px 16px;
  background-position: rotate(-4.26deg);
  background: url('../assets/illustrations/single-wave-pattern.svg');
  background-color: #252F3D;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.aerocard .name-and-icon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.aerocard .name-and-date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  height: 21px;
  left: 16px;
  right: 16px;
  top: 111px;
}

.amount-and-cta {
  display: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;

  width: 264px;
  height: 110px;
  margin-top: 188px;
  flex: none;
}

.amounts {
  display: flex;
}

.amounts .btn-selectors {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 16px 4px 16px;

  width: 53.33px;
  height: 35px;

  background: #E6F0FF;
  border-radius: 12px;
  border: 1px solid #DAE4F2;

  flex: none;
  order: 2;
  flex-grow: 1;
  margin-right: 4px;
}

.amounts .btn-selectors-active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 16px 4px 16px;
  width: 53.33px;
  height: 35px;
  top: 0px;
  border: 1px solid #DAE4F2;
  background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
  border-radius: 12px;
  flex: none;
  order: 2;
  flex-grow: 1;
  margin-right: 4px;
}

.amounts .selectors-text {
  background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 800;
}

.amounts .selectors-text-active {
  background: #E6F0FF;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: 800;
}

.btn-cta {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 12px 16px;

  border: 1px solid #DAE4F2;

  width: 264px;
  height: 51px;
  /* Brand/Default */

  background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
  /* Elevation 1/Default */

  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 16px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 24px 0px;
}

.frame153 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px 0px 8px;
}

.add-points {
  width: 102px;
  height: 27px;
  font-weight: 600;
  color: #FFFFFF;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 4px 8px 0px 8px;
}
/* END NAV-BAR SECTION */

/* ILLUSTRATION CONTAINER */

.illustration-container {
  position: absolute;
  width: 897px;
  height: 795px;
  right: 141px;
  top: 45px;
}

.illustration {
  position: absolute;
  width: 897px;
  height: 795px;
}

.saly-19{
  position: absolute;
  width: 897px;
  height: 795px;
}

.illustration-bg {
  position: absolute;
  width: 722px;
  height: 600px;
  left: 88px;
  top: 195px;
  background: linear-gradient(102.47deg, rgba(23, 111, 235, 0.5) -5.34%, rgba(255, 128, 255, 0.5) 106.58%);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
  border-radius: 104px;
}

/* END ILLUSTRATION CONTAINER */

/* COPY AND CTA */

.copy-and-cta {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 602px;
  height: 577px;
  left: 228px;
  top: 240px;
}

.btn-view-products {
  /* Auto layout */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 318px;
  height: 80px;
  background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 24px;
  border: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 64px 0px;
}

.view-products-text {
  text-align: center;
  color: #FFFFFF;
  margin: 0px 4px;
}

.arrow-down {
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 4px 0px 4px;
}
/* END COPY AND CTA */

.landing-copy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 602px;
  height: 433px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.label-and-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 602px;
  height: 355px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.explore-the {
  position: static;
  width: 184px;
  height: 27px;
  font-family: 'Montserrat';
  letter-spacing: 0.24em;
  text-transform: uppercase;
  color: #7C899C;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
}

.tech {
  width: 602px;
  height: 160px;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 200px;
  line-height: 80%;
  text-transform: uppercase;
  background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
}

.zone {
  width: 602px;
  height: 160px;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 200px;
  line-height: 80%;
  text-transform: uppercase;
  background: #252F3D;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 8px 0px;
}

.long-text {
  width: 523px;
  height: 54px;
  font-family: 'Montserrat';
  line-height: 150%;
  color: #7C899C;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 24px 0px;
}

/* END LANDING SECTION*/

/* WALKTHROUGH SECTION */

.walkthrough-section {
  position: absolute;
  height: 721px;
  left: 0px;
  right: 0px;
  top: 952px;
  z-index: 1;
}

.walkthrough-cards-bg {
  position: absolute;
  width: 1920px;
  height: 528px;
  top: calc(50% - 528px/2 + 21.5px);
  background: linear-gradient(102.47deg, rgba(23, 111, 235, 0.5) -5.34%, rgba(255, 128, 255, 0.5) 106.58%);
}

.walkthrough-cards {
  position: absolute;
  height: 721px;
  left: 228px;
  right: 228px;
  top: calc(50% - 721px/2);
}

.intro-card-browse {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;

  position: absolute;
  width: 532px;
  height: 676px;

  top: 45.84px;
  transform: rotate(-3deg);

  background: #FFFFFF;
  border: 1px solid #DAE4F2;
  box-sizing: border-box;

  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.05);
  border-radius: 32px;
}

.intro-card-choose {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  position: absolute;
  width: 532px;
  height: 676px;
  left: 466.32px;
  background: #FFFFFF;
  border: 1px solid #DAE4F2;
  box-sizing: border-box;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.05);
  border-radius: 32px;
}

.intro-card-enjoy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
  position: absolute;
  width: 532px;
  height: 676px;
  right: 19.38px;
  top: 44.54px;
  background: #FFFFFF;
  border: 1px solid #DAE4F2;
  box-sizing: border-box;
  box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.05);
  border-radius: 32px;
  transform: rotate(3deg);
}

.top-card {
  position: static;
  width: 508px;
  height: 498px;
  left: 12px;
  top: 12px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px;
}

.top-card .saly-31 {
  position: absolute;
  width: 508px;
  height: 498px;
  bottom: 0px;
  top: 12px;
  right: 0px;
  left: 12px;
}

.top-card .card-illustration-bg {
  position: absolute;
  width: 508px;
  height: 498px;
  background: linear-gradient(102.47deg, #7296EB -5.34%, #EAC0E9 106.58%, #EAC0E9 106.58%);
  border: 1px solid #DAE4F2;
  box-sizing: border-box;
  border-radius: 24px 24px 0px 0px;
}

.bottom-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 24px 16px 24px;
  width: 508px;
  height: 154px;
  background: #FFFFFF;
  border: 1px solid #DAE4F2;
  box-sizing: border-box;
  border-radius: 0px 0px 24px 24px;
  flex: none;
}

.bottom-card .title-and-icon {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 48px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.bottom-card  .title-and-icon .title {
  width: 201px;
  height: 32px;
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 32px;
  line-height: 100%;
  text-transform: uppercase;
  background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  flex: none;
  order: 1;
  margin: 0px 16px 0px 0px;
}

.icon-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 3px;
  background: #E5F0FF;
  border-radius: 8px;
  margin: 0px 16px 0px 0px;
}

.icon-wrapper .icons {
  width: 40px;
  height: 40px;
  flex: none;
  margin: 0px 0px 0px 0px;
}

.card-paragraph {
  width: 372px;
  height: 54px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;

  color: #7C899C;

  flex: none;
  margin: 12px 0px 0px 0px;
}

/*END WALKTHROUGH SECTION */

/* PRODUCT SECTION */
.product-section {
  position: absolute;
  height: 2598px;
  left: 0px;
  right: 0px;
  top: 1833px;
}

.header-products-and-bottom-pager {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: absolute;
  height: 2598px;
  left: 228px;
  right: 228px;
  top: 0px;
}

.title-and-controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 1464px;
  height: 142px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 64px 0px 0px 0px;
}

.title-and-controls .title {
  position: static;
  width: 1464px;
  height: 38px;
  left: 0px;
  top: 0px;
  flex-direction: row;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 80%;
}

.title-and-controls .title-tech {
  background: #176FEB;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.title-and-controls .title-products {
  background: #252F3D;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.filter-sort-and-pager {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  margin-top: 42.5px;
  position: static;
  width: 1464px;
  height: 64px;
  left: 0px;
  top: 78px;
}

.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  width: 1051px;
  height: 59px;
  left: 0px;
  top: 2.5px;
}

.filter-by {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px;
  position: static;
  width: 353px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.filter-text {
  position: static;
  width: 81px;
  height: 27px;
  left: 0px;
  top: 16px;
  margin-right: 16px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #7C899C;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.filter-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 256px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

select {
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}

.filter-select {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 8px 16px 24px;
  position: static;
  width: 256px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #7C899C;
  background: #FFFFFF;
  border: 1px solid #DAE4F2;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 8px 0px;
}

.filter-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  position: static;
  width: 256px;
  height: 51px;
  left: calc(50% - 256px/2);
  top: 8px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #7C899C;
  background: #FFFFFF;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 8px 0px 0px 0px;
}

.filter-horizontal-divider {
  position: static;
  width: 2px;
  height: 59px;
  left: 393px;
  top: 0px;
  background: #DAE4F2;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 40px 0px 40px;
}

.sort-by-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: static;
  width: 616px;
  height: 43px;
  left: 435px;
  top: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 0px 40px 0px 0px;
}

.sort-by-text {
  position: static;
  width: 71px;
  height: 27px;
  left: 0px;
  top: 8px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #7C899C;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 16px 0px 0px;
}

.sort-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 529px;
  height: 43px;
  left: 87px;
  top: 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 16px 0px 0px;
}

.btn-sort-selector-active {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  position: static;
  width: 165px;
  height: 43px;
  left: 0px;
  top: 0px;
  background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
  border-radius: 12px;
  border: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 12px 0px 0px;
}


.btn-sort-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  position: static;
  width: 165px;
  height: 43px;
  left: 0px;
  top: 0px;
  background: #E6F0FF;
  border-radius: 12px;
  border: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 12px 0px 0px;
}

.sort-selector-text {
  position: static;
  height: 27px;
  left: 24px;
  top: 8px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border: 0px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px 0px 0px;
}

.sort-selector-text-active {
  position: static;
  height: 27px;
  left: 24px;
  top: 8px;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #F5F9FF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 10px 0px 0px;
}

.pager {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px 12px 16px;
  position: static;
  width: 259px;
  height: 64px;
  border: 1px solid #DAE4F2;
  box-sizing: border-box;
  border-radius: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.btn-pager-arrow-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;

  position: static;
  width: 40px;
  height: 40px;
  background: #E6EDF7;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn-pager-arrow-buttons .icons {
  position: static;
  width: 24px;
  height: 24px;
  flex: none;
  flex-grow: 0;
  margin: 0px 10px 0px 0px;
}

.pager-text {
  position: static;
  width: 102px;
  height: 27px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #7C899C;
  flex: none;
  flex-grow: 0;
  margin: 0px 24px 0px 24px;
}

.products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 1464px;
  top: 206px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px 0px 0px;
}

.table {
  border-spacing: 0px;
}

.item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  position: static;
  width: 351px;
  left: 1113px;
  top: 0px;
  flex: none;
  order: 3;
  flex-grow: 1;
  margin: 78px 20px 0px 0px;
}

.product-card-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  position: static;
  width: 351px;
  left: 0px;
  top: 0px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 0px 0px 0px 0px;
}

.product-card {
  position: static;
  width: 351px;
  height: 431px;
  left: 0px;
  top: 0px;
  filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.05));
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 16px 0px 0px 0px;
}
.product-card-container .btn-cta {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px 16px 24px;
  border: 0px;
  position: static;
  width: 352px;
  height: 59px;
  left: 0px;
  top: 447px;
  background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px 0px 0px;
}

.product-card-container .btn-cta-disabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 24px 16px 24px;
  border: 0px;
  position: static;
  width: 352px;
  height: 59px;
  left: 0px;
  top: 447px;
  background: #E6EDF7;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 16px 0px 0px 0px;
}

.redeem-for {
  position: static;
  height: 27px;
  left: 71px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px 0px 0px;
}

.cost-icon {
  margin: 4px 8px 0px 0px;
}

.cost-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px 0px 0px;
}

.you-need {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #7C899C;
  flex: none;
  margin: 0px 8px 0px 0px;
}

.image-container {
  position: absolute;
  width: 351px;
  height: 344.92px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  border: 1px solid #DAE4F2;
  box-sizing: border-box;
  border-radius: 16px 16px 0px 0px;
}

.product-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 16px 24px 24px;
  position: absolute;
  width: 351px;
  height: 88px;
  left: 0px;
  top: 343px;
  background: #FFFFFF;
  border: 1px solid #DAE4F2;
  box-sizing: border-box;
  border-radius: 0px 0px 16px 16px;
}

.product-name {
  position: static;
  width: 303px;
  height: 27px;
  left: 24px;
  top: 16px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #252F3D;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px 0px 0px;
}

.product-type {
  position: static;
  width: 303px;
  height: 21px;
  left: 24px;
  top: 43px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #7C899C;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px 0px 0px;
}

.product-shots {
  position: absolute;
  width: 252px;
  height: 182px;
  left: calc(50% - 252px/2);
  top: calc(50% - 182px/2 - 6.46px);
}

.number-of-products-and-pager {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  position: static;
  width: 1464px;
  height: 64px;
  left: 0px;
  top: 2534px;
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 64px 0px 0px 0px;
}

.number-of-products {
  position: static;
  width: 156px;
  height: 27px;
  left: 654px;
  top: 18.5px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  background: linear-gradient(102.47deg, #176FEB -5.34%, #FF80FF 106.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 292px 0px 0px;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px;
  position: absolute;
  height: 150px;
  left: 0px;
  right: 0px;
  top: 4641px;
  background: #FFFFFF;
}

.footer .nav-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px;
  position: static;
  width: 233px;
  height: 40px;
  left: calc(50% - 233px/2);
  top: calc(50% - 40px/2);
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 0px;
  cursor: pointer;
  text-decoration: none;
}

.footer .nav-link .default-link {
  position: static;
  left: 18.88%;
  right: 1.72%;
  top: 16.25%;
  bottom: 16.25%;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  text-align: right;
  color: #7C899C;
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 8px 0px 0px;
}

.footer .nav-link .icon {
  width: 32px;
  height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 8px 0px 0px;
  align-items: center;
  justify-content: center;
}

.background-pattern {
  position: absolute;
  width: 1920px;
  height: 1344px;
  top: 201px;
  background-image: url('../../src/assets/illustrations/path.svg');
}